*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
.mainbody{
    height: 100%;
    width: 100%;
}
.structure{
  height: 100%;
  width: 100%;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgb(156, 88, 0);
    font-size: 8px;
    padding: 1rem;
}
.anchor{
  text-decoration: none;
  color: black;
}

.image{
    background-color: #cccccc;
  background-image: url(https://img.freepik.com/premium-photo/golden-embrace-chain-necklace-womans-neck_917664-91850.jpg);
  height: 500px;
  background-position: right , bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  }
  .box{ 
    background-color:rgb(156, 88, 0);
    width: 20rem;
    animation-name: left;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease;
}
@keyframes left {
    from{
        left: -600px;
        right: 0px;
        opacity: 0;
    }
    to{
        left: 0px;
        right: 0;
        opacity: 1;
    }
}
.CollectionSection{
  padding: 1rem;
  background-color:rgb(156, 88, 0);
  
}
.imagename{
  display: flex;
  flex-direction: column;
}
.heading{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-style: italic;
}
.collections{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width:430px){
  .dis{
    width: 100%;
  }
  .anchor{
    font-size: 10px;
  }
  .image{
    background-image: url(https://masonmadison.com/cdn/shop/files/Best_Gold_Chunky_Chain_Necklace_Gift_Trends_for_Women_1_Women_s_BEST_Trending_Trendy_Gold_Chunky_Chain_Necklace_Jewelry_Gift_on_Sale_for_Women_Lady_Mother_Wife_1_BEST_Gold_Chain_Necklace_Jewelry_Gift_for_Women_1_Best_Most_Top_Trend12_2000x.png?v=1722738724);
  }
  .box{
    width: 75%;
    padding-left:5px ;
    font-size: 10px;
  }
  .imagename{
    flex-direction: row;
    justify-content: space-around;
  }
  .collections{
    flex-direction: column;
    gap: 1rem;
  }  
  .names{
    flex-direction: column;
  }
  .jwellery{
    display:none
  }
  .information{
    flex-wrap: wrap-reverse;
  }
  .bracelete{
   display: none;
  }
  .dis h1{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 770px ){
  .CollectionSection{
    .img{
      height: 150px;
      width: 150px;
    }
  }
 .bracelete{
  display: none;
 }
}
.img{
  height: 200px;
  width: 200px;
}
.names{
  display: flex;
  justify-content: space-around;
} 
p{
  font-weight: 2rem;
  margin: 1rem;
  height: 20px;
  width: 100px;
  background-color: aliceblue;
  color: rgb(216, 131, 19);
}
.discounts{
  background-color: #ded4c3;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.button{
  margin-top: 1rem;
  background-color: rgb(156, 88, 0);
  padding: 10px;
  font-weight: 3rem;
  font-style: italic;
}
.dis{
  width: 50%;
  color:rgb(216, 131, 19); 
}
.information{
  display: flex;
  justify-content: space-between;
}
.bracelete{
  background-image: url(https://sc04.alicdn.com/kf/H212dfbe1cfa34d2aa346c304ad1ea4a0q.jpg);
  background-size: 50rem 35rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 50%;
}
.info{
  background-color: rgb(156, 88, 0); 
  height: 100%;
}
.declare{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  font-style: italic;
}
.jwellerystudio{
  margin: 10px;
  font-size: 7vw;
}
.contact{
  background-color: aliceblue;
  border-radius: 50%;
  margin-left: 3rem;
  height: 10%;
  width: 10%;
}
